.headerBack {
  background-color: rgb(65, 64, 65);
}

.headerPageTitle, .headerLink, .headerDropdown .nav-link {
  font-size: 1.5em;
  color: rgb(255, 255, 255) !important;
}

.headerImg {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}