.headerStuff {
  background-color: darkgray;
  color: white;
  width: auto;
  height: 200px;
  width: 100%;
}

.purpleStuff {
  background-color: rgb(197, 118, 254);
}

.headerImg {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}